- name: Deploy beszle agent
  hosts:
    - dns_swarm_cluster

  tasks:
    - name: Create /app dir
      ansible.builtin.file:
        path: /app
        state: directory
        owner: '{{ ansible_user }}'
        group: '{{ ansible_user }}'
        mode: '755'
      become: true

    - name: Create folder
      ansible.builtin.file:
        path: /app/beszle-agent
        state: directory
        owner: '{{ ansible_user }}'
        group: '{{ ansible_user }}'
        mode: '755'

    - name: Create docker compose yml
      ansible.builtin.template:
        src: ./docker-compose.yml
        dest: /app/beszle-agent/docker-compose.yml
        owner: '{{ ansible_user }}'
        group: '{{ ansible_user }}'
        mode: '644'

    - name: Run docker-compose.yml
      community.docker.docker_compose_v2:
        project_src: /app/beszle-agent
        state: present